.Xauthority
.alias
.bash_history
.bash_profile
.bashrc
.cache
.cshrc
.emacs.d
.htpasswd*
.joe_state
.nano_history
.php
.ssh
.viminfo
.DS_Store
adam2012.jpg
logs
node_modules
npm-*
passenger.*
pbrawr.backup
pygooglechart-*
